.main {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.cart {
  flex: 1;
  margin-right: 20px;
  background-color: #c4b0b0;
  text-align: center;
  align-items: center;
  box-sizing: border-box;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1 );
  border-radius: 0.5rem;
}

.head{
  color: #343a40;
  margin: auto 0;
}

li{
  list-style-type: none;
  padding-right: 1.5rem;
  
}

.cart-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  background-color: #f9f9f9;
  border-radius: 5px;
  margin-bottom: 10px;
}

.cart-list img {
  max-width: 150px;
  margin-right: 80px;
}

.cart-list div {
  flex: 1;
}

.cart-list .details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.cart-list .details h5,
.cart-list .details h4 {
  margin: 5px 0;
  color: #000;
}

.btn-div {
  display: flex;
  align-items: center;
}

.btn-div button {
  margin: 0 5px;
  padding: 5px 10px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 3px;
}

.btn-div button:hover {
  background-color: #0056b3;
}

.rm {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 3px;
  margin-left: 10px;
}

.rm:hover {
  background-color: darkred;
}

.total {
  font-weight: bold;
  color: #333;
}
