/* Cart Container */
.cart-container {
  margin: 1em auto;
  padding: 20px;
  max-width: 50%;
  background-color: #adabab;
}

/* Cart Header */
.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

/* Cart Items */
.cart-items {
  border-top: 1px solid #5c5b5b;
}

.cart-item {
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #7d7b7b;
}

.cart-item img {
  width: 30%;
  object-fit: cover;
  margin-right: 20px;
}

.cart-item-details {
  flex: 1;
}

.cart-item-details h4, p{
  color: #454040;
}

.cart-item-actions {
  display: flex;
  align-items: center;
  max-width: 120px;
  border: 1.5px solid #dcc5c5;
  border-radius: 10px;
  background-color: #7d7b7b;
}

.cart-item-actions button, .btn1, .btn2{
  margin: 4px 2px;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  transition: 300ms;
  background-color: #ded1d1;
}

.cart-item-actions button:hover, .btn1:hover, .btn2:hover  {
   background-color: #adabab;
   border: 1px solid #dcc5c5;
}

.btn1{
  color: black;
}



/* Cart Summary */
.cart-summary {
  padding: 10px 0;
  text-align: right;
  border-top: 2px solid #7d7b7b;
}

.cart-summary p {
  margin: 5px 0;
}

@media (max-width: 600px) {
  .cart-item {
      flex-direction: column;
      text-align: center;
  }

  .cart-item img {
      margin-bottom: 10px;
  }

  .cart-item-actions {
      justify-content: center;
  }
}
