.alert-center {
    position: fixed;
    bottom: 2rem;
    right: 2rem; /* Center the alert */
    width: 200px;
    height: 60px;
    text-align: center;
    color: rgb(16, 7, 53);
    background-color: rgb(25, 182, 90);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; /* Ensure the alert is above other elements */
    animation: fadeSideIn 3000ms forwards;
  }
  
  .add-to-cart-button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    width: 100%;
    margin-top: 2em;
  }
  
  .add-to-cart-button:hover {
    background-color: #3e8e41;
  }
  
  @keyframes fadeSideIn {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    50% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translatex(100px);
    }
  }