.about-div {
  width: 100vh;
  height: 60vh;
  text-align: justify;
  border: 2px solid #dbafaf;
  border-radius: 1rem;
  padding: 2rem;
}


.about-page {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  color: #f6dbdb;
  text-align: center;
  font-family: fantasy;
  letter-spacing: 0.2rem;
  background-image: -webkit-radial-gradient(#615252, #40784b, #655e24);
}