
fieldset{
    border-radius: 1rem;
    border: 1px solid rgb(62, 53, 51);
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2rem;
    background-color: #7f9075;
    font-family:cursive;
    margin-top: 3rem;
    gap: 0.3rem;
}


.formd{
    background-color: #59754c;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
}