.navImg{
    width: 8rem;
    height: 1.8rem;
    margin-left: 3.1rem;
    margin-top: 0.3rem;
}

span{
    color: #262613;
    margin-right: 1.8rem;
}

span:hover{
    color: #263d1b;
    text-decoration: underline;
    transform: scale(1.1);
    font-weight: 500;
}



