.navbar-custom {
  background-color: #343a40;
  padding: 1rem;
}

.navbar-brand img {
  height: 40px;
}

.navbar-nav {
  float: right;
}

.nav-link {
  color: #ffffff;
  margin-right: 1rem;
  font-size: 1.1rem;
}

.nav-link:hover {
  color: #ff6347;
}

.cart-icon {
  font-size: 30px;
  margin-right: 0.5rem;
}

.tl{
  font-size: 1.1rem;
  color: #f32323;
  width: 1.5rem;
  border-radius: 50%;
  background-color: #f9e2e2;
  text-align: center;
  position: relative;
  bottom: 1rem;
  right: 0.7rem;
  font-weight: bold;
}
