.card-class{
  height: 100vh;
  padding: 4rem 0;
  background-color: bisque;
}

.dish-header{
    margin-bottom: 3rem;
    margin-top: 4rem;
    color: #302809;
    font-weight: 500;
    font-weight: bold;
    font-family: "markazi text";
}





