.footer-container{
    background-color: #607e73;
    width: 100%;
    height: 25vh;
    margin-top: 3rem;
    position: relative;
    top: 13.1em;
}

.icons{
    display: inline;
    margin-left: 3rem;
    margin-top: 3rem;
}

.iconRow{
   position: relative;
   top: 3rem;
}