.App{
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 55em;
}
:root{
    --textColor: #9e7bb9;
    --bg: #35443f;
    --other: #495E57;
    --objects: #4a9c30;
    --Pfont: "markazi text";
    --Mfont: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --Ifont: "karla";
}

@media (max-width: 480px){
    body{
        background-color: #dfdedd;
        box-sizing: border-box;
        margin: 0 auto;
        max-width: 40em;
    }
}

@media (max-width: 768px){
    body{
        background-color: #dfdedd;
        box-sizing: border-box;
        margin: 0 auto;
        max-width: 40em;
        padding: 0 1em;
    }
}